body {
    font-family: sans-serif;
    background-color: #f3f4f6;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

/* Profile editor css */


.photo-input {
    width: 100%;
    margin-bottom: 20px;
}

.submit-btn {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #2563eb;
}

.nav-link {
    display: inline-block;
    margin-top: 15px;
    color: #3b82f6;
    text-decoration: none;
}

/* Theme picker css */
.theme-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.theme-options label {
    margin: 5px 0;
}

/* Bio Section css*/
.bio-textarea {
    width: 95%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Light and Dark Theme */
body.light {
    background-color: #ffffff;
    color: #333;
}

body.dark {
    background-color: #333;
    color: #f1f1f1;
}

body.custom {
    background-color: #f9f9f9;
    color: #444;
}